/* Responsive CSS */
@media (min-width: 1600px) {
	.aai-hero-one-img .aai-hero-img {
		right: 0;
	}
}

@media (max-width: 1199px) {
	.aai-hero-one-img .aai-hero-img {
		position: relative;
		left: 0;
		top: 50px;
	}
}

@media (max-width: 768px) {
	.navbar-collapse  {
		background-color: rgb(37 46 51 / 84%);
	}
	.navbar .dropdown-menu {
		background-color: transparent;
	}
	.show li a{
		color: #fff;
	}


	.writing-step {
		border: none;
		border-bottom: 1px solid rgba(255, 255, 255, 0.12);
	}

	.mspace {
		padding-left: 14px;
		padding-right: 14px;
	}

	.section-title {
		font-size: 25px !important;
		line-height: 1.3;
	}

	.section-desc, .psize {
		font-size: 13px !important;
	}

	.aai-hero-one-desc {
		font-size: 15px;
	}

	.aai-contact-widget {
		width: 100%;
	}

	.paddingTop {
		padding-top: 30px;
	}

	.paddingBottom {
		padding-bottom: 30px;
	}

	.normals {
		padding: 30px 0;
	}

	.aai-list-item-text {
		font-size: 13px;
		color: #555657;
		text-align: left;
	}

	.slider-container img {
		width: 195px;
	}

	.btn-pill-border {
		width: fit-content;
	}

	.t-m{
		font-size: 21px !important;
	}

	.aai-newsletter-btn{
		padding: 16px 17px;
	}
	.aai-newsletter .form-control{
		padding: 10px ;
	}
	.aai-support-text{
		font-size: 13px;
	}
	.aai-footer-support{
		padding: 20px;
	}
	.py-80{
		padding: 20px;
	}
	








}

@media (max-width: 576px) {
	.aai-hero-one {
		padding: 94px 0 0 0;
	}

	.mspace {
		padding-left: 14px;
		padding-right: 14px;
	}

	.aai-hero-one-title {
		font-size: 30px;
		line-height: 1.5;
		margin: 0;
	}

	.aai-hero-two-title {
		font-size: 36px;
		line-height: 1.5;
	}


	.aai-form-wrapper {
		padding: 20px;
	}

	.aai-accordions .accordion-button {
		font-size: var(--text-xl);
	}

	.writing-step {
		padding: 30px 20px;
	}

	.writing-step-title {
		font-size: var(--text-xl);
	}

	.aai-table-wrapper {
		overflow: scroll;
	}
}